:root {
    --skrubview-tiny: 0.5rem;
    --skrubview-small: 1.0rem;
    --skrubview-large: 1.2rem;
    --skrubview-huge: 1.5rem;
    --skrubview-max-content-width: 45rem;
}

{{ report_id_selector }}.skrubview-report summary > * {
    display: inline;
}

{{ report_id_selector }}.skrubview-report p {
    margin-block-start: var(--skrubview-tiny);
    margin-block-end: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report code {
    overflow-wrap: anywhere;
}

{{ report_id_selector }}.skrubview-report pre {
    margin: 0;
}

{{ report_id_selector }}.skrubview-report .skrubview-margin-r-s {
    margin-inline-end: var(--skrubview-small);
}

{{ report_id_selector }}.skrubview-report .skrubview-margin-r-t {
    margin-inline-end: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-margin-v-t {
    margin-block-start: var(--skrubview-tiny);
    margin-block-end: var(--skrubview-tiny);
}



{{ report_id_selector }}.skrubview-report :is(td, th) {
    padding: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: var(--skrubview-tiny);
    margin: 0;
}

{{ report_id_selector }}.skrubview-report dt {
    grid-column-start: 1;
    font-weight: bold;
    justify-self: end;
}

{{ report_id_selector }}.skrubview-report dt::after {
    content: ":";
}

{{ report_id_selector }}.skrubview-report dd {
    grid-column-start: 2;
    justify-self: start;
    margin: 0;
}

{{ report_id_selector }}.skrubview-report table caption {
    padding: 0;
    font: inherit;
}

{{ report_id_selector }}.skrubview-report :is(td, th) {
    white-space: nowrap;
}


{{ report_id_selector }}.skrubview-report .skrubview-horizontal-scroll {
    overflow-x: auto;
}

{{ report_id_selector }}.skrubview-report .skrubview-select-all {
    user-select: all;
}

{{ report_id_selector }}.skrubview-report .skrubview-select-none {
    user-select: none;
}

{{ report_id_selector }}.skrubview-report .skrubview-wrapper {
    padding-inline-start: var(--skrubview-small);
    padding-inline-end: var(--skrubview-small);
    padding-block-end: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-text {
    max-width: var(--skrubview-max-content-width);
}

{{ report_id_selector }}.skrubview-report .skrubview-copybutton-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--skrubview-tiny);
    padding-block-start: var(--skrubview-tiny);
    padding-block-end: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-copybutton-grid > * {
    margin-block-start: 0;
    margin-block-end: 0;
}

{{ report_id_selector }}.skrubview-report .skrubview-flex {
    display: flex;
    gap: var(--skrubview-tiny);
    align-items: center;
}

{{ report_id_selector }}.skrubview-report .skrubview-flex-wrap {
    flex-wrap: wrap;
}



{{ report_id_selector }}.skrubview-report .skrubview-ellided {
    max-width: 100ch;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

{{ report_id_selector }}.skrubview-report .skrubview-ellided-short {
    max-width: 30ch;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

{{ report_id_selector }}.skrubview-report .skrubview-card {
    padding: 0;
    margin: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2), 0px 4px 10px 0px rgba(0, 0, 0, .2);
    min-width: min-content;
}

{{ report_id_selector }}.skrubview-report .skrubview-card-header {
    border-radius: 0.25rem 0.25rem 0 0;

    display: flex;
    flex-wrap: wrap;

    padding: var(--skrubview-tiny);
    margin-block-end: var(--skrubview-tiny);
    background-color: var(--header-color, #E8E8E8);
    border-block-end: 1px solid #d0d0d0;
}

{{ report_id_selector }}.skrubview-report .skrubview-card-header {
    --checkbox-margin: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-card-header > * {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: var(--skrubview-large);
}

{{ report_id_selector }}.skrubview-report .skrubview-dataframe-summary {
    --skrubview-max-content-width: 100rem;
    font-size: var(--skrubview-large);
}

{{ report_id_selector }}.skrubview-report .skrubview-box {
    border: 1px solid #555555;
    padding: var(--skrubview-tiny);
    min-width: 1rem;
    max-width: 40rem;
    max-height: 10rem;
    min-height: 1rem;
    overflow: auto;
    white-space: nowrap;
}

{{ report_id_selector }}.skrubview-report .skrubview-table-value-box {
    max-width: 100%;
}

{{ report_id_selector }}.skrubview-report .skrubview-table-value-box[data-shows-placeholder] {
    color: #777777;
}

{{ report_id_selector }}.skrubview-report .skrubview-table-cell[data-is-selected] {
    background-color: #ffffaa;
    border: 1px solid black;
}

{{ report_id_selector }}.skrubview-report .skrubview-ellided-table-part {
    border: 1px solid white;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    background: inherit;
}


{{ report_id_selector }}.skrubview-report :is(.skrubview-ok, .skrubview-warning, .skrubview-critical) {
                                                 font-weight: bold;
                                             }

{{ report_id_selector }}.skrubview-report .skrubview-ok {
    color: green;
}

{{ report_id_selector }}.skrubview-report .skrubview-warning {
    color: #ff6600;
}

{{ report_id_selector }}.skrubview-report .skrubview-critical {
    color: red;
}

{{ report_id_selector }}.skrubview-report .skrubview-pseudocolumn {
    --header-color: #ffffff;
}

{{ report_id_selector }}.skrubview-report *[data-is-being-copied]{
    color: white;
    background-color: #4c72b0;
}

{{ report_id_selector }}.skrubview-report .skrubview-select-displayed-siblings ~ *:not([data-is-selected]) {
                                                                                          display: none;
}
