<div class="skrubview-card skrubview-column-summary {{"skrubview-constant-column" if column.value_is_constant else "" }}" id="{{ col_id }}" data-name-repr="{{ column.name.__repr__() }}">
    <div class="skrubview-card-header">
        <h3 class="skrubview-margin-r-t">
            <code class="skrubview-select-all">{{ column.name }}</code>
        </h3>
        <input class="skrubview-select-column-checkbox" type="checkbox" onchange="updateColSelection(event)" data-column-id="{{ col_id }}" data-report-id="{{ report_id }}" checked />
        <code class="skrubview-float-end">{{ column.dtype }}</code>
    </div>
    <div class="skrubview-column-summary-content skrubview-wrapper">
        <div>
            <dl>
                <dt>Null values</dt>
                <dd class="skrubview-{{ column.nulls_level }}">{{ column.null_count }} ({{ column.null_proportion | format_percent }})</dd>
                {% if not column.value_is_constant %}
                {% if column.n_unique %}
                <dt>Unique values</dt>
                <dd>{{ column.n_unique }} ({{ column.unique_proportion | format_percent }})</dd>
                {% endif %}
                {% if "mean" in column %}
                <dt>Mean ± Std</dt>
                <dd>{{ column["mean"] | format_number }} ± {{ column["standard_deviation"] | format_number }}</dd>
                {% endif %}
                {% if column.quantiles %}
                <dt>Median ± IQR</dt>
                <dd>{{ column.quantiles[0.5] | format_number }} ± {{ column["inter_quartile_range"] | format_number}}</dd>

                <dt>Min ; Max</dt>
                <dd>
                    {{ column.quantiles[0.0] | format_number }} ;
                    {{ column.quantiles[1.0] | format_number }}
                </dd>
                {% elif "min" in column %}
                <dt>Min ; Max</dt>
                <dd>
                    {{ column.min | format_number }} ;
                    {{ column.max | format_number }}
                </dd>
                {% endif %}
                {% endif %}

                {% if column.string_length_is_constant %}
                <dt>(constant) String length</dt>
                <dd>{{ column.constant_string_length }}</dd>
                {% endif %}
            </dl>
        </div>

        {% if column.value_is_constant %}
        {% set val_id = "{}-constant-value".format(col_id) %}
        <div class="skrubview-margin-v-t">
        <strong>Constant value:</strong>
        <div class="skrubview-copybutton-grid">
        <pre class="skrubview-box" id="{{ val_id }}">{{ column.constant_value }}</pre>
        <button onclick='copyTextToClipboard("{{ val_id }}")'>📋</button>
        </div>
        </div>
        {% endif %}

        {% for plot_name in column.plot_names %}
        <div>
        <img class="pure-img" src="{{ column[plot_name] | svg_to_img_src | safe }}" alt={{ plot_name }} />
        {% if plot_name == "value_counts_plot" %}
        <details>
            <summary>Most frequent values</summary>
            <div class="skrubview-shrink">
            <div class="skrubview-copybutton-grid">
            <select class="skrubview-grid-separator skrubview-select-displayed-siblings" id="{{ '{}_freq_value_select_snippet'.format(col_id) }}" onchange="updateSelectedSnippet(event)" autocomplete="off">
                <option value="value">Display value</option>
                <option value="python-expression">Python expression</option>
                <option value="filtered-dataframe">Filtered dataframe</option>
            </select>

            {% for value in column.value_counts %}
            {% set val_id = "{}-freq-value-{}".format(col_id, loop.index0) %}
            <pre class="skrubview-box" id="{{ val_id }}-value" data-option-value="value" data-is-selected>{{ value }}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-value")' data-option-value="value" data-is-selected>📋</button>

            <pre class="skrubview-box" id="{{ val_id }}-repr" data-option-value="python-expression">{{ value.__repr__() }}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-repr")' data-option-value="python-expression">📋</button>

            <pre class="skrubview-box" id="{{ val_id }}-snippet" data-option-value="filtered-dataframe">{{ value | filter_equal_snippet(column.name, summary.dataframe_module)}}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-snippet")' data-option-value="filtered-dataframe">📋</button>

            {% endfor %}
            {% set val_id = "{}-freq-value-list".format(col_id) %}
            <span class="skrubview-grid-separator">List:</span>

            <pre class="skrubview-box" id="{{ val_id }}-value" data-option-value="value" data-is-selected>{{ "[" }}
            {%- for value in column.value_counts -%}
            {{ value.__repr__() }}{{", " if not loop.last }}
            {%- endfor -%}
            {{ "]" }}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-value")' data-is-selected data-option-value="value">📋</button>


            <pre class="skrubview-box" id="{{ val_id }}-repr" data-option-value="python-expression">{{ "[" }}
            {%- for value in column.value_counts -%}
            {{ value.__repr__() }}{{", " if not loop.last }}
            {%- endfor -%}
            {{ "]" }}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-repr")' data-option-value="python-expression">📋</button>



            <pre class="skrubview-box" id="{{ val_id }}-filter" data-option-value="filtered-dataframe">{{ column.value_counts.keys() | filter_isin_snippet(column.name, summary.dataframe_module) }}</pre>
            <button onclick='copyTextToClipboard("{{ val_id }}-filter")' data-option-value="filtered-dataframe">📋</button>

            </div>
            </div>
        </details>
        {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
