<script type="text/javascript">
var columnFiltersForReport{{ report_id }} = JSON.parse('{{ column_filters | tojson | safe }}');
</script>
{% set col_filter_id = "{}_col_filter".format(report_id) %}
<div class="skrubview-wrapper">
    <label for="{{ col_filter_id }}">Filter columns: </label>
    <select id="{{ col_filter_id }}" onchange='onFilterChange("{{ col_filter_id }}")' data-report-id="{{ report_id }}" autocomplete="off">
        {% for filter_name in column_filters %}
        <option value="{{ filter_name }}" {{ "selected" if filter_name == "all()" }}>{{ filter_name }}</option>
        {% endfor %}
    </select>
</div>
<script type="text/javascript">
 onFilterChange("{{ col_filter_id }}");
</script>
