<div class="skrubview-card skrubview-column-summary {{"skrubview-constant-column" if column.value_is_constant else "" }}" id="{{ col_id }}" data-name-repr="{{ column.name.__repr__() }}">
    <div class="skrubview-card-header">
        <h3 class="skrubview-margin-r-t">
            <code class="skrubview-select-all">{{ column.name }}</code>
        </h3>
        <input class="skrubview-select-column-checkbox" type="checkbox" onchange="updateColSelection(event)" data-column-id="{{ col_id }}" data-report-id="{{ report_id }}" />
        <code class="skrubview-float-end">{{ column.dtype }}</code>
    </div>
    <div class="skrubview-column-summary-content skrubview-wrapper">
        <div>
            <dl>
                <dt>Null values</dt>
                <dd class="skrubview-{{ column.nulls_level }}">{{ column.null_count }} ({{ column.null_proportion | format_percent }})</dd>
                {% if column.n_unique %}
                <dt>Unique values</dt>
                <dd>{{ column.n_unique }} ({{ column.unique_proportion | format_percent }})</dd>
                {% endif %}

                {% if column.value_is_constant %}
                <dt>(constant) Value</dt>
                <dd>{{ column.constant_value.__repr__() }}</dd>
                {% else %}
                {% if "mean" in column %}
                <dt>Mean ± Std</dt>
                <dd>{{ column["mean"] | format_number }} ± {{ column["standard_deviation"] | format_number }}</dd>
                {% endif %}
                {% if column.quantiles %}
                <dt>Min — Max</dt>
                <dd>
                    {{ column.quantiles[0.0] | format_number }} —
                    {{ column.quantiles[1.0] | format_number }}
                </dd>
                <dt>Median</dt>
                <dd>{{ column.quantiles[0.5] | format_number }}</dd>
                {% elif "min" in column %}
                <dt>Min — Max</dt>
                <dd>
                    {{ column.min | format_number }} —
                    {{ column.max | format_number }}
                </dd>
                {% endif %}
                {% endif %}

                {% if column.string_length_is_constant %}
                <dt>(constant) String length</dt>
                <dd>{{ column.constant_string_length }}</dd>
                {% endif %}
            </dl>
        </div>

        {% for plot_name in column.plot_names %}
        <div>
        <img class="pure-img" src="{{ column[plot_name] | svg_to_img_src | safe }}" alt={{ plot_name }} />
        {% if plot_name == "value_counts_plot"  and column.dtype == "String" %}
        <details>
            <summary>Most frequent values</summary>
            {% for value in column.value_counts %}
            <pre class="skrubview-box">{{ value }}</pre>
            {% endfor %}
        </details>
        {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
