{% from "utils.j2" import compact_id, collapse_const_id with context %}

{{ report_id_selector }}.skrubview-report .skrubview-float-end {
    margin-inline-start: auto;
    padding-inline-start: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group {
    min-width: min-content;
    max-width: max-content;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--skrubview-tiny);
}

#{{ compact_id }} {
    display: none;
}

#{{ compact_id }} + label {
    display: none;
}

@media screen and (min-width: 70rem) {
    {{ report_id_selector }}.skrubview-report #{{ compact_id }}:checked ~ .skrubview-column-summary-group {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--skrubview-tiny);
    }

    {{ report_id_selector }}.skrubview-report #{{ compact_id }}:checked ~ * .skrubview-column-summary-content {
        display: block;
    }

    :is(#{{ compact_id }}, #{{ compact_id }} + label ) {
        display: inline;
    }
}


{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:checked ~ * .skrubview-constant-column {
    display: none;
}

{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:not(:checked) ~ * .skrubview-constant-columns-summary{
    display: none;
}

