{% set table_id = "{}_table".format(dataframe_id) %}

<div class="skrubview-horizontal-scroll">
    <table class="pure-table pure-table-striped" id="{{ table_id }}">
        <thead>
            <tr>
                {% for column_name in dataframe.header %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dataframe.data %}
            <tr>
                {% for value in row %}
                <td class="skrubview-table-cell"
                    data-parent-table-id="{{ table_id }}"
                    data-cell-value="{{ value.__str__() }}"
                    data-display-box-id="{{ dataframe_id }}_value_box"
                    onclick="displayValue(event)">
                    {%- if value is not none -%}
                    {{ value | ellide_string_short }}
                    {%- endif -%}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="skrubview-flex">
    <pre class="skrubview-box skrubview-table-value-box" id="{{ dataframe_id }}_value_box" data-shows-placeholder>
Select a cell to display its value
</pre>
</div>
