{% set table_id = "{}_sample_table".format(report_id) %}

<article class="skrubview-wrapper">
    <div class="skrubview-horizontal-scroll">
        <table class="pure-table pure-table-striped" id="{{ table_id }}">
            <thead>
                <tr>
                    {% for column_name in summary.head.header %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in summary.head.data %}
                <tr>
                    {% for idx in range(row.__len__()) %}
                    <td class="skrubview-table-cell skrubview-ellided-short" data-parent-table-id="{{ table_id }}" data-display-box-id="{{ table_id }}_value_box" data-filter-snippet-box-id="{{ table_id }}_filter_snippet_box" data-value-repr-box-id="{{ table_id }}_value_repr_box" data-column-name-repr="{{ summary.head.header[idx].__repr__() }}" data-value-str="{{ row[idx].__str__() }}" data-value-repr="{{ row[idx].__repr__() }}" {%- if row[idx] is none -%} data-value-is-none="" {%- endif -%} data-dataframe-module="{{ summary.dataframe_module }}" onclick="displayValue(event)">
                        {%- if row[idx] is not none -%}
                        {{ row[idx] }}
                        {%- endif -%}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

            <tr>
                {% for column_name in summary.head.header %}
                <td class="skrubview-ellided-table-part">⋮</td>
                {% endfor %}
            </tr>

            <tbody>
                {% for row in summary.tail.data %}
                <tr>
                    {% for idx in range(row.__len__()) %}
                    <td class="skrubview-table-cell skrubview-ellided-short" data-parent-table-id="{{ table_id }}" data-display-box-id="{{ table_id }}_value_box" data-filter-snippet-box-id="{{ table_id }}_filter_snippet_box" data-value-repr-box-id="{{ table_id }}_value_repr_box" data-column-name-repr="{{ summary.head.header[idx].__repr__() }}" data-value-str="{{ row[idx].__str__() }}" data-value-repr="{{ row[idx].__repr__() }}" {%- if row[idx] is none -%} data-value-is-none="" {%- endif -%} data-dataframe-module="{{ summary.dataframe_module }}" onclick="displayValue(event)">
                        {%- if row[idx] is not none -%}
                        {{ row[idx] }}
                        {%- endif -%}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="skrubview-flex">
        <select class="skrubview-select-displayed-siblings" id="{{ '{}_select_snippet'.format(table_id) }}" onchange="updateSelectedSnippet(event)" autocomplete="off">
            <option value="value">Value</option>
            <option value="python-expression">Python expression</option>
            <option value="filtered-dataframe">Filtered dataframe</option>
        </select>

        {% set box_id="{}_value_box".format(table_id) %}
        {% set button_id="{}_copybutton".format(box_id) %}
        <pre data-option-value="value" data-is-selected="" class="skrubview-box skrubview-table-value-box skrubview-margin-v-t" id="{{ box_id }}" data-copybutton-id="{{ button_id }}" data-shows-placeholder>Select a cell to display its value</pre>


        <button data-option-value="value" data-is-selected="" onclick='copyTextToClipboard("{{ box_id }}")' id="{{ button_id }}" disabled autocomplete="off">📋</button>


        {% set box_id="{}_value_repr_box".format(table_id) %}
        {% set button_id="{}_copybutton".format(box_id) %}
        <pre data-option-value="python-expression" class="skrubview-box skrubview-table-value-box skrubview-margin-v-t" id="{{ box_id }}" data-copybutton-id="{{ button_id }}" data-shows-placeholder>Select a cell to display its value as a Python expression</pre>
        <button data-option-value="python-expression" onclick='copyTextToClipboard("{{ box_id }}")' id="{{ button_id }}" disabled autocomplete="off">📋</button>


        {% set box_id="{}_filter_snippet_box".format(table_id) %}
        {% set button_id="{}_copybutton".format(box_id) %}
        <pre data-option-value="filtered-dataframe" class="skrubview-box skrubview-table-value-box skrubview-margin-v-t" id="{{ box_id }}" data-copybutton-id="{{ button_id }}" data-shows-placeholder>Select a cell to display a snippet for filtering the dataframe</pre>
        <button data-option-value="filtered-dataframe" onclick='copyTextToClipboard("{{ box_id }}")' id="{{ button_id }}" disabled autocomplete="off">📋</button>

    </div>

</article>
