{% from "utils.j2" import compact_id, collapse_const_id with context %}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary[data-is-highlighted] .skrubview-card-header {
    --header-color: var(--skrubview-yellowish);
}



{{ report_id_selector }}.skrubview-report .skrubview-float-end {
    margin-inline-start: auto;
    padding-inline-start: var(--skrubview-tiny);
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group {
    display: flex;
    flex-direction: column;
    gap: var(--skrubview-small);
    padding-block-start: var(--skrubview-tiny);
    padding-block-end: var(--skrubview-tiny);
    padding-inline-end: var(--skrubview-small);
    min-width: min-content;
    max-width: max-content;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-group > * {
    margin: 0;
}

{{ report_id_selector }}.skrubview-report .skrubview-column-summary-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--skrubview-tiny);
}

:is(#{{ compact_id }}, #{{ compact_id }} + label ){
    display: none;
}

@media screen and (min-width: 60rem) {
    {{ report_id_selector }}.skrubview-report #{{ compact_id }}:checked ~ .skrubview-column-summary-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--skrubview-small);
    }

    {{ report_id_selector }}.skrubview-report #{{ compact_id }}:checked ~ * .skrubview-column-summary-content {
        display: flex;
        flex-direction: column;
    }

    :is(#{{ compact_id }}, #{{ compact_id }} + label ) {
        display: inline;
    }
}


{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:checked ~ * .skrubview-constant-column {
    display: none;
}

{{ report_id_selector }}.skrubview-report #{{ collapse_const_id }}:not(:checked) ~ * .skrubview-constant-columns-summary{
    display: none;
}

