{% set table_id = "{}_sample_table".format(report_id) %}

<article class="skrubview-wrapper">
    {% set top_bar_id = "{}-top-bar".format(report_id) %}
    {% set top_bar_display_id = "{}-display".format(top_bar_id) %}
    {% set top_bar_select_id = "{}-select".format(top_bar_id) %}
    {% include "top-bar.html" %}

    <div class="skrubview-horizontal-scroll">
        <table class="pure-table pure-table-striped" id="{{ table_id }}" data-top-bar-id="{{ top_bar_display_id }}" data-report-id="{{ report_id }}">
            <thead>
                <tr>
                    {% for column_name in summary.head.header %}
                    <th class="skrubview-filterable-column" data-column-name="{{ column_name }}">{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in summary.head.data %}
                <tr>
                    {% for idx in range(row.__len__()) %}
                    {% set column_name = summary.head.header[idx] %}
                    <td class="skrubview-table-cell skrubview-ellided-short skrubview-filterable-column" data-column-name="{{ column_name }}" data-parent-table-id="{{ table_id }}" data-display-box-id="{{ table_id }}_value_box" data-filter-snippet-box-id="{{ table_id }}_filter_snippet_box" data-value-repr-box-id="{{ table_id }}_value_repr_box" data-column-idx="{{ idx }}" data-column-name-repr="{{ summary.head.header[idx].__repr__() }}" data-value-str="{{ row[idx].__str__() }}" data-value-repr="{{ row[idx].__repr__() }}" data-col-name-str="{{ summary.head.header[idx] }}" data-col-name-repr="{{ summary.head.header[idx].__repr__() }}" {%- if row[idx] is none -%} data-value-is-none="" {%- endif -%} data-dataframe-module="{{ summary.dataframe_module }}" onclick="displayValue(event)">
                        {%- if row[idx] is not none -%}
                        {{ row[idx] }}
                        {%- endif -%}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

            <tr>
                {% for column_name in summary.head.header %}
                <td class="skrubview-ellided-table-part skrubview-filterable-column" data-column-name="{{ column_name }}">⋮</td>
                {% endfor %}
            </tr>

            <tbody>
                {% for row in summary.tail.data %}
                <tr>
                    {% for idx in range(row.__len__()) %}
                    {% set column_name = summary.head.header[idx] %}
                    <td class="skrubview-table-cell skrubview-ellided-short skrubview-filterable-column" data-column-name="{{ column_name }}"  data-parent-table-id="{{ table_id }}" data-display-box-id="{{ table_id }}_value_box" data-filter-snippet-box-id="{{ table_id }}_filter_snippet_box" data-value-repr-box-id="{{ table_id }}_value_repr_box" data-column-idx="{{ idx }}" data-column-name-repr="{{ summary.head.header[idx].__repr__() }}" data-value-str="{{ row[idx].__str__() }}" data-value-repr="{{ row[idx].__repr__() }}"  data-col-name-str="{{ summary.head.header[idx] }}" data-col-name-repr="{{ summary.head.header[idx].__repr__() }}" {%- if row[idx] is none -%} data-value-is-none="" {%- endif -%} data-dataframe-module="{{ summary.dataframe_module }}" onclick="displayValue(event)">
                        {%- if row[idx] is not none -%}
                        {{ row[idx] }}
                        {%- endif -%}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <p>
        <strong>{{ summary.n_rows }}</strong> rows ✕ <strong id="{{ report_id }}_display_n_columns">{{ summary.n_columns }}</strong> columns.
    </p>


        <div class="skrubview-column-summary-group skrubview-columns-in-sample-tab">
            {% set in_sample_tab=True %}
            {% for column in summary.columns %}
            {% set col_id="{}_col_{}_in_sample_tab".format(report_id, loop.index0) %}
            {% include "column-summary.html" %}
            {% endfor %}
            {% set in_sample_tab=False %}
    </div>
</article>
