<div class="skrubview-report" id="{{ report_id }}">
    <div class="skrubview-dataframe-summary skrubview-wrapper skrubview-text">
        {% if summary.title %}
        <h1>{{ summary.title }}</h1>
        {% endif %}
        {% if summary.file_path %}
        <p><span class="skrubview-select-none">File: </span><code>{{ summary.file_path }}</code></p>
        {% endif %}
    </div>
    {% set powerbar_id = "{}-powerbar".format(report_id) %}
    {% set powerbar_display_id = "{}-display".format(powerbar_id) %}
    {% set powerbar_select_id = "{}-select".format(powerbar_id) %}
    {% include "powerbar.html" %}
    {% include "dataframe-sample.html" %}
    {% include "dataframe-columns.html" %}
    <script>
        updateSelectedColsSnippet("{{ report_id }}", false);
    </script>
</div>
