{% set compact_id = "{}-compact-checkbox".format(report_id) %}
{% set collapse_const_id = "{}-collapse-const-columns-checkbox".format(report_id) %}
{% set report_id_selector="#{}".format(report_id) if report_id else "" %}
